
html {
  font-family: 'Open Sans', sans-serif;
}

body {  
  font: 16px/1.5 'Open Sans', Arial, Helvetica, sans-serif ;
  color: #fff;
  background: #001821;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
 list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.main-page-wrapper {
  background: url(../images/decor/1.jpg) center top no-repeat, url(../images/decor/2.jpg) right bottom -100px no-repeat;
}

.container {
 margin: 0 auto;
 width: 1140px;
 position: relative;
}

.header {
  height: 123px;
  margin-bottom: 74px;
}
 .header__logo {
  position: absolute;
  top: 29px;
  left: 0px;   
 }

 .header__menu {
  position: absolute;
  left: 164px;
  top: 38px;
 }

 .header__contacts {
  position: absolute;
  top: 33px;
  right: 0;
 }

.logo {
  height: 36px;    
  width: 85px;    
}

.menu {
  color: #ffffff; 
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0;
} 

.menu__link {
  font-size: 14px;
  text-decoration: none; 
  height: 19px;
  width: 54px;
  left: 79px;
  top: 42px;
}
  
.menu__link:hover {
  color: #bfb56b ;
}

.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__info {
  color: #9A9A9A;
  font-size: 11px;
  line-height: 20px;
  margin-bottom: 6px;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  line-height: 1;
  display: block;
}

.contacts__shedule {
  font-size: 13px;
  text-decoration: underline;
  color: #bfb56b;
  line-height: 1;
  display: block;
}

.hero {
  margin-bottom: 247px;
}

.hero__text-section {
  width: 520px;
}

.hero__title {
  font-size: 72px;
  font-weight: 700;
  line-height: 98px;
  margin-bottom: 27px; 
}

.hero__discription {
  font-size: 18px;
  color: #fff;
  margin-bottom: 33px;
  line-height: 20px;
}

.btn {
  display: inline-block;
  background: #F5170E;
  border-radius: 35px;  
  padding: 18px 40px;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  background: #F5170E;
  box-shadow: 0 0 25px 0;
}
 
.btm--theme-tours {
  background-color: #ffffff;
  border: 1px solid #F5170E;
  color: #F5170E;
  padding: 18px 30px;
}

.btn--color--ginger {
  background: #F5170E;
  color: #ffffff;
}

.section-about{
  margin-bottom: 50px;
}

.tours {
  margin-bottom: 126px;
}

.tours__title {
  font-size: 36px;
  line-height: 49px;
  font-weight: bold;
  margin-bottom: 51px;
  display: inline-block;
  vertical-align: middle;
}

.tours__title::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 28px;
  margin-left: 12px;
  background: url(../images/icons/flame.png) center center no-repeat;
}

.tours__item {
  min-height: 150px;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-right: 22px;
  width: 362px;
}

.tours__item:last-child {
  margin-right: 0;
}

.tours__item-img {
  min-height: 144px;
}

.tours__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.tours__content {
  padding: 33px 16px 26px 22px;
}
.tours__item-title {  
  color: #000000;
  font-weight: 700;
  font-size: 24px ;
  line-height: 33px;
  margin-bottom: 21px;
}

.tours__features {
  margin-bottom: 10px;
  padding-left: 6px;
  margin-bottom: 23px;
}

.tours__feature {
  display: inline-block;
  vertical-align: top;
  margin-right: 26px;
}  

.tours__feature:last-child {
  margin-right: 0;
}
 
.tours__ico {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.tours__feature-text { 
  color: #666666;
  line-height: 22px;
  display: inline-block;
  vertical-align: middle; 
}

.tours__description {
  color: #303030;
  line-height: 21px; 
  font-size: 14px;
  margin-bottom: 24px; 
}

.tours__btn-wrapper {
  text-align: center;
}

.news {
  margin-bottom: 143px;
}

.news__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 51px;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 21px;
}
 
.news__item:last-child {
  margin-right: 0;
}

.news__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 162px;  
}

.news__date {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 12px;
  display: block;
}

.news__card-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}

.news__list {
  margin-bottom: 54px;
}

.news__text {
  line-height: 21px;
}

.paginator {
  text-align: center;
}

.paginator__display,.paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  margin-right: 25px;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: -2px;
}

.paginator__item--active .paginator__link {
  background: #ffffff;
  color: #F5170E;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.section-about {
  margin-bottom: 92px;
}

.about {
  padding-top: 97px;
  color: #060606;
}

.about::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  width: 490px;
  height: 505px;
  background: url("../images/content/gates.jpg") center center / cover no-repeat;
}

.about__content {
  padding: 70px 202px 66px 81px;
  display: block;
  position: relative;
  width: 785px;
  margin-left: auto;
  border-radius: 5px;
  background: url("../images/decor/mountains.jpg") center center / cover no-repeat;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 37px;
}

.about__text {
  line-height: 27px;
  margin-bottom: 43px;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.footer {
  height: 165px;
  position: relative;
  padding-top: 46px;
  padding-bottom: 59px;
  border-top: 1px solid rgba(255, 255, 255,0.1);
}

.footer__menu {
  position: absolute;
  left: 164px;
  top: 56px;
}

.footer__socials {
  position: absolute;
  top: 50px;
  right: 264px;
}

.footer__contacts {
  position: absolute;
  right: 0;
  top: 43px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}


.socials__item:last-child {
  margin-right: 0;
}

.socials__massege {
  display: block;  
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__massege--icon-tg {
  background-image: url(../images/icons/telegram.png);
}

.socials__massege--icon-vk {
  background-image: url(../images/icons/vk.png);
}

.socials__massege--icon-fb {
  background-image: url(../images/icons/f.png);
}

.socials__massege--icon-ig {
  background-image: url(../images/icons/in.png);
}





 






   /*
  .nav {
    position: absolute;
    top: 42px;
    left: 164px;
  }
  
  .nav__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 54px;
  }
  
  .nav__iteam: :last-child {
    margin-right: 0;
  }
  
  .contacts {
    position: absolute;
    top: 26.px;
    right: 0;
  }

/*
  .header {
    padding-top: 29px;
    margin-bottom: 167px;
    color: #fff
  }
  
  .header__logo {
    margin-right: 79px;
  }
  
  .logo {
  width: 85px;
  }
  
  .header__contacts {
    position: absolute;
    text-align: right;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .logo__pic {
    max-width: 100%;
  }
/*

*,
::before,
::after {
  box-sizing: border-box;
}   


address {
  font-style: normal;
}

h1 {
  font-size: 72px;
  font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 36px;
  font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 24px;
  font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}





button {
  background-color: transparent;
  border: none;
}


.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.wrapper-main {
  color: #fff;
  background: url() center top no-repeat, url() right bottom 206px no-repeat;
  background-color: #002957;
}

.container {
  width: 1140;
  margin: 0 auto;
}
  /* position: relative; */


/*
.page-cover__up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 1202px;
  background: url(../images/) top center / cover no-repeat;
}

.page-cover__down {
  position: absolute;
  top: 0;
  left: 165;
  width: 100%; 
  height: 893px;
  z-index: 0;
}

.page-cover__image {
  max-width: 100%;
}



*/
 /* HEADER */
/*
.header {
  padding-top: 29px;
  margin-bottom: 167px;
  color: #fff
}

.header__logo {
  margin-right: 79px;
}

.logo {
width: 85px;
}

.header__contacts {
  position: absolute;
  text-align: right;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.logo__pic {
  max-width: 100%;
}


*/
















/* FOOTER */ /*



.socials {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 300%;
}


*/

