@import url('./layout/fonts.css');
@import url('./layout/normalize.css');
@import url('./layout/base.css');

@import url('./blocks/header.css');
@import url('./blocks/logo.css');
@import url('./blocks/menu.css');
@import url('./blocks/contacts.css');
@import url('./blocks/dropdown.css');
@import url('./blocks/hero.css');
@import url('./blocks/tours.css');
@import url('./blocks/btn.css');
@import url('./blocks/news.css');
@import url('./blocks/paginator.css');
@import url('./blocks/section.css');
@import url('./blocks/about.css');
@import url('./blocks/footer.css');
@import url('./blocks/socials.css');
@import url('./blocks/top-line.css');
@import url('./blocks/page-title.css');
@import url('./blocks/breadcrumbs.css');
@import url('./blocks/page-content.css');
@import url('./blocks/services.css');
@import url('./blocks/inner.css');
@import url('./blocks/partners.css');








.block--one {
  background: url(../images/shades.png) center  no-repeat;
  position: relative;
  Width: 1920px;
  Height: 960px
}

.block--one .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  Top: 356px;
  Left: 665px;
}

.block--two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-text {
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  Line-height: 100%;
  top: 534px;
  left: 862px;
  margin-left: 40px;
}

/* reviews */

.reviews {
  column-count: 2;
  column-gap: 27px;
  margin-bottom: 76px;
}

.reviews__item {
  margin-bottom: 20px;
}

.review {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 28px;
}

.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #2E77A4;
  margin-bottom: 12px;
}

.review__user:after {
  content: url("../images/icons/vk-blue1.png");
  height: 28px;
}

.review__tags {
  display: flex;
  align-items: flex-start;
}

.review__title {
  font-size: 30px;
  font-weight: bold;
  color: #1A1B1E;
  margin-bottom: 13px;
}

.review__content-text {
  margin-bottom: 48px;
}

.review__date {
  font-size: 14px;
  color: #1A1B1E;
  font-weight: bold;
}

.avatar {
  width: 142px;
  height: 142px;
  overflow: hidden
  }


.tag {
  font-size: 13px;
  color: #303030;
  padding: 9px 18px;
  border-radius: 50px;
  background: #E7E7E7;
}
 
.tag--bg--blue {
  color: #B9EAE4;
}

.review__title {
  font-size: 30px;
  font-weight: bold;
  color: #1A1B1E;
  margin-bottom: 13px;
}

.review__content-text {
  line-height: 1.7;
  margin-bottom: 48px;
}

.review__date {
  font-size: 14px;
  color: #1A1B1E;
  font-weight: bold;
}

.separator {
  background: url("../images/bg/Rectangle.jpg"), url("../images/decor/couple.png") right 20% bottom no-repeat ;
  min-height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.separator__content {
  max-width: 50%;
}

.separator__title{
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.1;
}

.form__row {
  display: flex; 
  margin-bottom: 47px; 
}

.form__input {
  flex: 1;
  margin-right: 28px;
  border-radius: 5px;
  border: none;
  background: #ffffff;
  padding: 20px 30px;
  font-size: 18px;
  color: #1A1B1E;
}

.form__input::placeholder {
  color: #666666;
}

.form__input:last-child {
  margin-right: 0px;
}

.form__input--texterea {
  height: 235px;
}

.control__elem {
  cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
  background: #B9EAE4;
}


