.header {
  padding-top: 27px;
  margin-bottom: 127px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--inner {
  margin-bottom: 0;

}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}