.inner-section {
  background: #F4F5F5;
  color: #1A1B1E;
  padding: 88px 0 114px;
}

.inner-section--bg--grey {
  background: #F4F5F5
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 87px;
}

.inner-section__title--rev {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 57px;
}