.separator {
  background: url("../../images/decor/couple.png")  right 15% bottom 1px no-repeat, url("../../images/bg/Rectangle.jpg") ;
  min-height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.separator__content {
  max-width: 50%;
}

.separator__title{
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.1;
}

.separator__img {
  display: block;
}
