.separator {
  background: url("../../images/bg/Rectangle.jpg"), url("../images/decor/couple.png") right 20% bottom no-repeat ;
  min-height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.separator__content {
  max-width: 50%;
}

.separator__title{
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.1;
}

.separator__img {
  display: inline;
}