.socials {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 10px;
}


.socials__item:last-child {
  margin-right: 0;
}

.socials__massege {
  display: block; 
  width: 36px;
  height: 36px;
  background: center center no-repeat;
  transition: background .3s; 
  position: relative;
}

.socials__massege:before {
  opacity: 1;
}

.socials__massege:after {  
  background: url('../../images/icons/sprit.png') center center no-repeat;
  opacity: 0;
  
}

.socials__massege--icon-tg:after {
  background-position:  -122px -10px;
}

.socials__massege--icon-tg:hover:after {
  background-position:  -122px -66px;
}

.socials__massege--icon-vk:after {
  background-position:  -10px -122px;
}

.socials__massege--icon-vk:hover:after {
  background-position:  -66px -122px;
}

.socials__massege--icon-fb:after {
  background-position:  -10px -10px;
}

.socials__massege--icon-fb:hover:after {
  background-position:  -66px -10px;
}

.socials__massege--icon-ig:after {
  background-position:  -10px -66px;
}

.socials__massege--icon-ig:hover:after {
  background-position:  -66px -66px;
}
 

/* .socials__massege:after {  
  content: "";
  display: block;
  position: absolute;
  transform: translate(50%, 50%);
  width: 36px; height: 36px;
  background: url('./images/icons/sprit.png') -122px -10px;
}

.socials__massege--icon-tg:hover:after {  
  width: 36px; height: 36px;
  background: url('./images/icons/sprit.png') -122px -66px;
}


.socials__massege--icon-vk {
  background-image: url(../../images/icons/vk.png);
}

.socials__massege--icon-fb {
  background-image: url(../../images/icons/f.png);
}

.socials__massege--icon-ig {
  background-image: url(../../images/icons/in.png);
}

.socials__massege--icon-tg:hover {
  background-image: url(../../images/icons/tg_hov.png);
}

.socials__massege--icon-vk:hover {
  background-image: url(../../images/icons/vk_hov.png);
}

.socials__massege--icon-fb:hover {
  background-image: url(../../images/icons/f_hov.png);
}

.socials__massege--icon-ig:hover {
  background-image: url(../../images/icons/in_hov.png);  
}
*/