.socials {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__massege {
  display: block; 
  width: 36px;
  height: 36px;
  background: center center no-repeat;
  position: relative;
}

.socials__massege:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('../../images/icons/sprit.png') no-repeat;
  opacity: 1;
  transition: opacity .3s;
}

.socials__massege:after {  
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('../../images/icons/sprit.png') no-repeat;
  opacity: 0;  
  transition: opacity .3s;
}

.socials__massege:hover::before {
  opacity: 0;
}

.socials__massege:hover::after {
  opacity: 1;
}

.socials__massege--icon-tg:before {
  background-position:  -122px -10px;
}

.socials__massege--icon-tg:hover:before {
  background-position:  -122px -10px;
}

.socials__massege--icon-tg:after {
  background-position:  -122px -66px;
}

.socials__massege--icon-tg:hover:after {
  background-position:  -122px -66px;
}

.socials__massege--icon-vk:before {
  background-position:  -10px -122px;
}

.socials__massege--icon-vk:hover:before {
  background-position:  -10px -122px;
}

.socials__massege--icon-vk:after {
  background-position:  -66px -122px;
}

.socials__massege--icon-vk:hover:after {
  background-position:  -66px -122px;
}

.socials__massege--icon-fb:before {
  background-position:  -10px -10px;
}

.socials__massege--icon-fb:hover:before {
  background-position:  -10px -10px;
}

.socials__massege--icon-fb:after {
  background-position:  -66px -10px;
}

.socials__massege--icon-fb:hover:after {
  background-position:  -66px -10px;
}

.socials__massege--icon-ig:before {
  background-position:  -10px -66px;
}

.socials__massege--icon-ig:hover:before {
  background-position:  -10px -66px;
}

.socials__massege--icon-ig:after {
  background-position:  -66px -66px;
}

.socials__massege--icon-ig:hover:after {
  background-position:  -66px -66px;
}
